<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> صفحه تماس با ما  </title>
	<link rel="stylesheet" href="css/reset.min.css">
	<link type="text/css" href="css/style.css" rel="stylesheet" />
	<link type="text/css" href="css/leaflet.css" rel="stylesheet" />
</head>
<body>
	<br><br><br><br><br><br>
	<div class="map__inner container">
		<section class="card card--contact">
			<h1 class="card__heading">تماس با ما</h1>
			<div class="contact__map">
				<div class="map__circle"></div>
				<div class="map__inner" id="contact-map"></div>
			</div>
			<div class="contact__content">
				<dl>
					<dt>پست الکترونیک</dt>
					<dd>Toplern@yahoo.com</dd>
					<dt>تلفن دفتر</dt>
					<dd>0213695878</dd>
					<dt>آدرس</dt>
					<dd>تهران / خیابان پاسداران</dd>
				</dl>
			</div>
		</section>
	</div>
	<script src="js/leaflet.js"></script>
	<script  src="js/scripts.js"></script>
</body><!-- This templates was downloaded from (https://webrubik.com) -->
</html>
